header {
  background-color: #573ba3;
  position: sticky;
  top: 0;
  z-index: 999; }

header .navbar-nav {
  flex-direction: row; }

header .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  font-size: 14px;
  padding: 0; }

header .navbar-nav .nav-item i {
  font-size: 18px; }

header .form-group .form-control {
  border-radius: 9999px;
  font-size: 14px; }

header .form-group {
  position: relative; }

header .form-group i {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 14px; }

.section {
  background-color: #573ba3;
  color: #fff; }

.section-detail {
  min-height: 35rem; }

.section .search {
  position: relative; }

.section .search .btn {
  position: absolute;
  right: 10px;
  top: 5px;
  border-radius: 9999px;
  height: 40px;
  width: 40px;
  background-color: #de2454; }

.section .search .btn i {
  color: #fff; }

.section .search .form-group input {
  border-radius: 9999px;
  width: 30vw; }

.section .search .form-control:focus {
  border-color: #de2454;
  box-shadow: 0 0 0 0.2rem #de2454; }

.section .section-detail {
  background-image: url("../images/bookshop.jpg");
  background-size: auto 67%;
  background-repeat: no-repeat;
  background-position: bottom center; }

.home-page-products .list-title a {
  height: fit-content;
  border-radius: 9999px;
  font-weight: 600; }

.home-page-products .last-price {
  color: red;
  text-decoration: line-through; }

.home-page-products .card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }

.home-page-products .card .book-link img {
  transition: transform 150ms ease-in, box-shadow 150ms ease-in, -webkit-transform 150ms ease-in; }

.home-page-products .card .book-link img:hover {
  transform: scale(1.025); }

.home-page-products-detail .card .card-text {
  font-size: 14px; }

.home-page-products-detail .card .price {
  font-size: 14px;
  font-weight: 600; }

.small-search .form-control:focus {
  border-color: #de2454;
  box-shadow: 0 0 0 0.2rem #de2454; }

.one-product .one-product-image img {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 150ms ease-in, box-shadow 150ms ease-in, -webkit-transform 150ms ease-in;
  width: 50vw;
  max-width: 250px; }

.one-product .one-product-price a {
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #573ba3; }

.one-product .one-product-price h6 {
  color: #573ba3; }

.one-product .one-product-price .last-price {
  color: red;
  text-decoration: line-through; }

.one-product .buttons .buy, .add-to-cart {
  border-radius: 9999px;
  transition: transform 150ms ease-in, box-shadow 150ms ease-in, -webkit-transform 150ms ease-in; }

.one-product .buttons .buy:hover, .add-to-cart:hover {
  transform: scale(1.025); }

.one-product .buttons .buy {
  background-color: #573ba3;
  color: #fff; }

.one-product .buttons .add-to-cart {
  border: 2px solid #573ba3;
  color: #573ba3; }

footer {
  background-color: #343a40;
  color: #eee; }

@media screen and (max-width: 992px) {
  .section form {
    display: none; }

  header #big-size {
    display: none; }

  header #small-size li i {
    color: #fff; }

  .one-product .book-detail {
    text-align: center; }

  .one-product .buttons .buy, .add-to-cart {
    display: block; }

  .one-product .buttons .buy {
    margin-bottom: 10px; }

  .one-product .one-product-price .row {
    display: none; } }
@media screen and (min-width: 992px) {
  header #small-size {
    display: none; }

  header form {
    display: none; }

  .one-product .one-product-price form {
    display: none; } }

/*# sourceMappingURL=style.css.map */
