footer {

}

footer .one-footer {
	background-color: #343a40;
}

footer .one-footer a {
	color: #dee2e6;
}

footer .two-footer {
	background-color: #212529;
}

footer .two-footer a {
	color: #dee2e6;
}